include/
lib/
Scripts/
pyvenv.cfg/

venv/
env/
.env

__pycache__/
*.pyc
*.pyo
*.pyd

*.pyw

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.sqlite3
*.db
*.log
*.csv
*.json

Thumbs.db

project/reports/logs
